/* font-style */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Shared style */
.display-flex {
    display: flex;
}

.orange-color {
    color: #FF900E;
}

.text-color {
    color: rgb(114, 114, 114);
    font-size: 1rem;
    font-weight: 400;
}

/* button section */
.btg-primary {
    background-color: #FF900E;
    color: white;
    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    padding: 20px 25px;

}

.drak-1 {
    color: rgb(19, 19, 19);
}

.drak-2 {
    color: rgb(66, 66, 66);
}

.drak-3 {
    color: rgb(114, 114, 114);
}

/* light-orange*/
.bg-color {
    background-color: rgba(255, 144, 14, 0.1);
}

/* Header style */

/* Navbar style */
.brand-name {
    font-size: 3rem;
    font-weight: 700;
}

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-content {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 30px;
}

.navbar,
.banner,
.main {
    max-width: 1440px;
    margin: 0 auto;

}

/* Banner-section */
.banner-title {
    font-size: 4rem;
    font-weight: 700;
}

.banner-container {
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-description {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}

.banner-img {
    width: 100%;
}

/* main> features-section */
main>section {
    margin-top: 130px;
}

.teams {
    align-items: center;
}

.team-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    border-radius: 8px;
}

.team-features {
    margin-left: 73px;
}

.team-title {
    font-weight: 700;
    font-size: 2.8rem;
}

#quick-list {
    font-weight: 500;
    color: rgb(114, 114, 114);
}

.team-description {
    margin-top: 24px;
    margin-bottom: 32px;
}

/* Features you will love & enjoy */
#features-2-title {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.features-2 {
    gap: 100px;
}

#experience-badge {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 45px 42px;
    margin-left: -100px;
    margin-top: -130px;

}

#experience-years {
    font-size: 4rem;
    font-weight: 700;
}

.features-card {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgb(255, 255, 255);
    margin-bottom: 20px;
}

.card-titles {
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
}


/* Some Facts */
.facts-title {
    font-size: 2.8rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.facts-description {
    max-width: 542px;
    margin-bottom: 100px;
}

/* facts-card-container */
.facts-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.facts-card {
    border: 1px solid #FF900E;
    width: 241px;
    height: 241px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card-title {
    font-size: 2.8rem;
    font-weight: 600;
    color: rgb(66, 66, 66);
    margin-top: 10px;
    margin-bottom: 5px;
}

.card-description {
    font-size: 1.25rem;
    font-weight: 600;
    color: rgb(114, 114, 114);
    margin-top: 5px;
}

/* sponsor-info-style */
.sponsor-title {
    font-size: 2.8rem;
    font-weight: 700;

}

.sopnsor-info {
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-img {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    filter: grayscale(100%);
}

footer {
    padding: 40px 410px;
    border-radius: 8px;
    background-color: rgb(255, 244, 231);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
}



/* responsive section */
@media screen and (max-width:576px) {

    .navbar,
    .nav-content,
    .features-2 {
        flex-direction: column;
    }

    .teams {
        flex-direction: column;
    }

    .team-img,
    .facts-card-container,
    .sponsor-img,
    .features-2 {
        grid-template-columns: repeat(1, 1fr);
    }

    .team-description,
    .facts-description {
        margin: 20px auto;
    }

    .team-features {
        margin-left: 20px;
    }

    .facts-card-container,
    .sponsor-img {
        justify-items: center;
        gap: 24px;
    }

    .sponsor-img {
        justify-items: center;
        gap: 50px;
    }

    .features-2 {
        margin-top: 50px;
    }

    .features-card {
        margin-bottom: 0px;
        padding: 20px;
    }

    .architect-img img {
        width: 100%;
    }

    #experience-badge {
        padding: 35px 32px;
        margin-left: 20px;
        margin-top: 20px;

    }

    .facts-title {
        margin-top: 20px;
    }

    footer {
        padding: 20px;
    }
}

/* medium or tab device */
@media screen and (min-width:576px) and (max-width:968px) {

    .teams,
    .features-2 {
        flex-direction: column;
    }

    .team-features {
        margin: 50px auto;
    }

    .facts-card-container,
    .sponsor-img {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        justify-items: center;
    }

    #experience-badge {
        padding: 35px 32px;
        margin-left: 20px;
        margin-top: 20px;
    }
    footer{
        padding: 30px;
    }
}